{% extends "file_manage/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h3 style="color:green">welcome to file-management system</h3>
        {% if customers %}
            <h4 style="color:red">list of customer:</h4>
            <table>
                <thead>
                    <th>Reference no.</th>
                    <th>customer name</th>
                </thead>
                {% for customer in customers %}
                    <tr>
                        <th><a href="{% url 'customer_info' pk=customer.pk %}">{{ customer.ref }}</a></th>
                        <td>{{ customer.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>...no customer in record...</p>
        {% endif %}
    </div>
{% endblock %}