<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>file-management system</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
         <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav flex-row">
                    <li><a class="navbar-brand bigbrand" href="{% url 'index' %}">home</a></li>
                    <li><a class="navbar-brand bigbrand" href="{% url 'new_customer' %}">add customer</a></li>
                    <li><a class="navbar-brand bigbrand" href="{% url 'admin:index' %}">admin</a></li>
                </ul>
            </div>
        </nav>
        {%block content%}
        {% endblock %}
    </head>
</html>